.box {
    width: 46rem;
    height: 28.188rem;
    display: flex;
    margin-top: 4rem;
}

.header {
    width: 46rem;
    display: flex;
    justify-content: space-between;
    height: 1.188rem;
    font-size: 0.875rem;
    margin-bottom: 2rem;
    line-height: 1.059rem;
}

.createdTasks {
    font-size: 0.875rem;
    color: var(--blue);
}

.completedTasks {
    font-size: 0.875rem;
    color: var(--purple);
}